<h1>ðŸ•ŠTwitteryðŸ•Š</h1>

<div class="button-container">
    <%= link_to "æ–°è¦æŠ•ç¨¿", new_post_path, class: "link-button" %> 
</div>

<ul>
<% @posts.each do |post| %>
    <li>
        <h2><%=post.title%></h2>
        <p><%=post.content%></p>
        <span>
            <small><%= post.created_at %></small>
        </span>
        <%
=begin%>
 <div class="edit-delete-wrapper">
            <%= link_to "ç·¨é›†", edit_post_path(post), class: "link-button" %>
            <%= button_to "å‰Šé™¤", post_path(post), method: :delete, class: "link-delete-button", data: {confirm: "æœ¬å½“ã«å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ"} %>
        </div> 
<%
=end%>
        <%= link_to "è©³ç´°", post_path(post), class: "link-button" %>
    </li>
    <% end %>
</ul>

